<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Welcome</title>
		{% endif %}
	</head>
	<body>
		<a href="{{ url_for('main.index') }}">Home</a>
		<a href="{{ url_for('auth.login') }}">Log in</a>
		<hr>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		{% block content %}{% endblock %}

		{# application content needs to be provided in the app_content block #}
		{% block app_content %}{% endblock %}
	</body>
</html>